In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re  # To clean population data

Wikipedia url-

In [13]:
url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"

Send a GET request-

In [14]:
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

Locate the first table on the page (states and territories table)

In [15]:
table = soup.find("table", class_="wikitable")

Extract table rows-

In [16]:
rows = table.find_all("tr")

Extract state names and population-

In [17]:
data = []
for row in rows[2:]:  # Skip the first two header rows
    cells = row.find_all("td")
    if len(cells) > 4:  
        state = cells[0].text.strip()

        raw_population = cells[3].text.strip()  
       
        population = re.sub(r"\[.*?\]", "", raw_population).replace(",", "").strip()
        
        if population.isdigit():
            data.append({"State": state, "Population": int(population)})
        else:
            print(f"Skipping invalid data for {state}: {population}")  # Debugging message

Skipping invalid data for AL: Dec 14 1819
Skipping invalid data for AK: Jan 3 1959
Skipping invalid data for CA: Sep 9 1850
Skipping invalid data for CT: Jan 9 1788
Skipping invalid data for DE: Dec 7 1787
Skipping invalid data for FL: Mar 3 1845
Skipping invalid data for IL: Dec 3 1818
Skipping invalid data for KS: Jan 29 1861
Skipping invalid data for KY: Jun 1 1792
Skipping invalid data for LA: Apr 30 1812
Skipping invalid data for ME: Mar 15 1820
Skipping invalid data for MD: Apr 28 1788
Skipping invalid data for MI: Jan 26 1837
Skipping invalid data for MN: May 11 1858
Skipping invalid data for MO: Aug 10 1821
Skipping invalid data for MT: Nov 8 1889
Skipping invalid data for NE: Mar 1 1867
Skipping invalid data for NV: Oct 31 1864
Skipping invalid data for NH: Jun 21 1788
Skipping invalid data for NJ: Dec 18 1787
Skipping invalid data for NM: Jan 6 1912
Skipping invalid data for NY: Jul 26 1788
Skipping invalid data for NC: Nov 21 1789
Skipping invalid data for ND: Nov 2 1889
Skipping invalid data for OR: Feb 14 1859
Skipping invalid data for PA: Dec 12 1787
Skipping invalid data for SC: May 23 1788
Skipping invalid data for SD: Nov 2 1889
Skipping invalid data for TX: Dec 29 1845
Skipping invalid data for VT: Mar 4 1791
Skipping invalid data for VA: Jun 25 1788
Skipping invalid data for WA: Nov 11 1889
Skipping invalid data for WI: May 29 1848

In [18]:
df = pd.DataFrame(data)
df

   State  Population
0     AZ     7151502
1     AR     3011524
2     CO     5773714
3     GA    10711908
4     HI     1455271
5     ID     1839106
6     IN     6785528
7     IA     3190369
8     MA     7029917
9     MS     2961279
10    OH    11799448
11    OK     3959353
12    RI     1097379
13    TN     6910840
14    UT     3271616
15    WV     1793716
16    WY      576851

Save to csv-

In [19]:
df.to_csv("us_states_population.csv", index=False)